body{
  height: 100vh;
  font:20px/1.1em arial, sans-serif;
  background:#333;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas{
  width:100%;
  height:100%;

}
.otbutton{
  filter: invert(1);
}
