html,body{min-height: 100vh;}
body{
  font:20px/1.1em Rubik, sans-serif;
  background:navy;
  display: flex;
  justify-content: center;
  align-items: center;
}
#string{
  font-size: 10vh;
  background: white;
  border-radius: 1em;
  padding: 1em;
  letter-spacing: .02em;
  transition: all .1s linear;
  color:navy;
}
#string:empty{
  padding: 0;
}
.otbutton{filter: invert(1);}

#stop{
  display:none;
  position: absolute;
  font-family: monospace;
  top:10px;
  left:40px;
  font-weight: bold;
  z-index: 20;
  font-size: 15px;
  cursor: pointer;
}
