
html, body, .wrapper {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  overflow: hidden;
  cursor: none;
  background: black;
  margin: 0;
}
.hrs{
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
hr{
  width:20px;
  height: 100%;
  background: gray;
  border-width: 5px;
  border-right-color: #aaa;
  margin:0;
  box-shadow: -30px 0px 26px black;
}
.sq {
  display: block;
  width: 920px;
  height: 920px;
  background-size: contain!important;
  position: absolute;
  top: 0;
  left: 0;
}
.otbutton{
  z-index: 200;
  filter: invert(1);
  cursor: pointer!important;
}
.sq0 {
  background: url('../img/1.png') center no-repeat;
  z-index: 99;
}

.sq1 {
  background: url('../img/2.png') center no-repeat;
  z-index: 98;
}

.sq2 {
  background: url('../img/3.png') center no-repeat;
  z-index: 97;
}

.sq3 {
  background: url('../img/4.png') center no-repeat;
  z-index: 96;
}

.sq4 {
  background: url('../img/5.png') center no-repeat;
  z-index: 95;
}

.sq5 {
  background: url('../img/6.png') center no-repeat;
  z-index: 94;
}

.sq6 {
  background: url('../img/7.png') center no-repeat;
  z-index: 93;
}

.sq7 {
  background: url('../img/8.png') center no-repeat;
  z-index: 92;
}

.sq8 {
  background: url('../img/9.png') center no-repeat;
  z-index: 91;
}

.sq9 {
  background: url('../img/10.png') center no-repeat;
  z-index: 90;
}

.sq10 {
  background: url('../img/11.png') center no-repeat;
  z-index: 89;
}

.sq11 {
  background: url('../img/12.png') center no-repeat;
  z-index: 88;
}

.sq12 {
  background: url('../img/13.png') center no-repeat;
  z-index: 87;
}
