html, body{height: 100%;}
body{
  font:20px/1.1em arial, sans-serif;
  background:blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box{
  animation-duration: 1s;
  border:1px solid transparent;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  width:300px;
  height:70px;
  padding:20px;
  transition: all .3s linear;
  position: relative;
}
#button{
  position: absolute;
  display: none;
  top:-30px;
  left:-30px;
  width:500px;
  height:500px;
  background: transparent;
  z-index: 3;
}
#button.visible{display: block;}
#player{}

.s10:hover{border-color:gray!important; background: white;}
.s12 #player{transition:all 8s ease-in;opacity: .2;}
.s15{cursor: pointer; position: relative;}
#box.s15:active{
  top:5px;
  box-shadow:5px 5px 10px black!important;
}

.s1{animation-name:s1; }
.s2{animation-name:s2;}
.s3{animation-name:s3; animation-duration: 5s;}
.s4{animation-name:s4; background: white;}
.s5{animation-name:s5;}
.s6{animation-name:s6;}
.s7{animation-name:s7;}
.s8{animation-name:s8;}
.s9{animation-name:s9;}
.s11{animation-name:s11;}
.s12{animation-name:s12;}
.s13{animation-name:s13;}
.s14{animation-name:s14;}

@keyframes s1{
  from{
    border-color: transparent;
    width:300px;
  }to{
    border-color:black;
    width:400px;
    }
  }
@keyframes s2{
  from{
    border-color:black;
    width:400px;
  }to{
    border-color:black;
    width:500px;
    }
  }
@keyframes s3{
  from{
    border-color:black;
    width:500px;
    height:70px;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    }
  }
@keyframes s4{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow:0 0 black;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    }
  }
/* walls */
@keyframes s5{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 1px;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
  }
}
@keyframes s6{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
    border-radius: 0px;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
    border-radius: 34px;
  }
}
@keyframes s7{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
    border-radius: 34px;
    border-image: url(../img/border.svg) 1 round;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 0px 0px 0px black, inset 0px 0px 0px lightgray;
    border-width: 25px;
    border-radius: 0px;
    border-image: url(../img/border.svg) 100 round;
  }
}
@keyframes s8{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 0px 0px 0px black,inset 0px 0px 0px lightgray;
    border-width: 25px;
    border-image: url(../img/border.svg) 100 round;
    border-style: solid;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-image: url(../img/border.svg) 0 round;
    border-width: 0px;
  }
}
@keyframes s9{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 0px 0px 0px black,inset 0px 0px 0px lightgray;
    border-width: 0px;
  }to{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
  }
}
@keyframes s11{
  from{
    border-color:black;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
    border-style:solid;
  }to{
    border-color:gray;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
    border-style:outset;
  }
}

@keyframes s12{
  from{
    border-color:gray;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 25px;
    border-style:outset;
    background-color: white;
  }to{
    border-color:gray;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 30px;
    border-style:outset;
  }
}
@keyframes s13{
  from{
    border-color:gray;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 30px;
    border-style:outset;
    background-color: white;
  }to{
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 0px;
    border-width: 30px;
    border-style:outset;
    border-color: #bfb0a6;
    background-color: #9c835d;
  }
}
@keyframes s14{
  from{
    border-color: #bfb0a6;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 30px;
    border-style:outset;
    background-color: #9c835d;
  }to{
    border-color: #bfb0a6;
    width: 500px;
    height:500px;
    box-shadow: 10px 10px 35px black,inset 10px 10px 25px lightgray;
    border-width: 30px;
    border-style:outset;
    background-color: #ebe4d9;
  }
}
