body{
  background:#ccc;
  font: 15px monospace;
  color: #444;
}
main{
  text-align: center;
}
main img{
  background: white;
  padding:20px;
  border:1px solid #00f;
}
main .image{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
main .caption{
  margin-top: 20px;
  width:100%;
}

main .image:nth-child(n+1) img{
  border: 2px solid #8bc420;
}
main .image:nth-child(n+2) img{
  border: 4px solid #7ad964;
}
main .image:nth-child(n+3) img{
  border: 4px solid #00a6ae;
}
main .image:nth-child(n+4) img{
  border: 5px solid #1ffa46;
}
main .image:nth-child(n+5) img{
  border: 2px solid #9ebbad;
}
main .image:nth-child(n+6) img{
  border: 3px solid #19bd9c;
}
main .image:nth-child(n+7) img{
  border: 2px solid #438a1a;
}
main .image:nth-child(n+8) img{
  border: 2px solid #50a41f;
}
main .image:nth-child(n+9) img{
  border: 1px solid #2c63fc;
}
main .image:nth-child(n+10) img{
  border: 5px solid #6dffb6;
}

.otbutton{
  position: fixed!important;
}

@media only screen and (max-width: 600px) {
  body{
    padding: 15%
  }
}
