body{
  font:20px/1.1em "Archivo Narrow", sans-serif;
  background: #F0F2F0;
  background: -webkit-radial-gradient( #ccc, #fff);
  background: radial-gradient( #ccc, #fff);
  box-shadow: inset 0px 0px 50px #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.lines{
  position: absolute;
  bottom: -100px;
  width:100%;
}
.lines p{
  position: absolute;
  bottom:25vh;
  opacity: 0;
  text-align: center;
  /* transition: all 1s ease; */
  text-transform: uppercase;
  width:100%;
  color:#f4f4f4;
  font-size: 35px;
  line-height: 1.2em;
  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 2px rgba(0,0,0,.2);
}
.lines p.active{
  animation-name: out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  bottom:35vh;
  opacity: 1;
  display: block;
}
.container {
	width: 350px;
	height: 350px;
  top:-80px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
	position: relative;
  animation: appear 8s linear 0s;
}
.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;

	box-shadow:
		0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset,
		0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffBB inset,
		0 2px 0px #ffffff,
		0 2px 3px #ffffff,
		0 5px 5px #ffffff90,
		0 10px 15px #ffffff60,
		0 10px 20px 20px #ffffff40;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}
/* double loader css */
.double-wrap{
  min-height: 350px;
  position: relative;
  display: inline-block;
  margin-left: -96px;
}
.double{
  width:350px;
  height:350px;
  border-radius:50%;
  position:absolute;
  border: 2px solid #fdf8f8;
  border-bottom:none;
  border-right:none;
  animation: double 2s linear infinite;
  /*! box-shadow: 2px 0 2px #bbb; */
  }

  @keyframes appear{
    0%{opacity:0;}
    100%{opacity:1;}
  }
  @keyframes double{
   100%{transform:rotate(360deg);}
  }
  #double1{
  width:250px;
  height:250px;
  left:147px;
  top:40px;
  animation-delay:.4s;
  }
  #double2{
  width:200px;
  height:200px;
  left:170px;
  top:60px;
  animation-delay:.7s;
  }

#stop{
  position: absolute;
  font-family: monospace;
  top:10px;
  left:40px;
  font-weight: bold;
  z-index: 20;
  font-size: 15px;
  cursor: pointer;
}
#stop:hover{
  background: #eee
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)
	}
}
@keyframes out {
  0% {
		bottom:33vh;
    opacity: 0;
	}
  10% {
		bottom:35vh;
    opacity: 1;
	}
  80% {
		bottom:35vh;
    opacity: 1;
	}
  100% {
		bottom:37vh;
    opacity: 0;
	}
}
