body{
  font:20px/1.1em arial, sans-serif;
  background:white;
  overflow: hidden;
}
.clock-wrapper{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 50%;
    left: 0;
    width: 250px;
    height: 250px;
    margin: auto;
}
.needle{
  position: absolute;
  top: 80px;
  left: 128px;
  width: 16px;
  transform-origin: 8px 50px;
  /* opacity: .2; */
  transition: .5s;
  /* transform: rotate(-180deg); */
}
.clock img{
  display: none;
}
.clock img.visible{
  display: block;
}
.clock-hour{
    z-index: 2;
    animation: rotate-hour 43200s linear infinite;
}
.clock-minute{
    z-index: 3;
    animation: rotate-minute 3600s linear infinite;
}
.clock-second{
    z-index: 4;
    animation: rotate-second 60s linear infinite;
}
