body{
  font-family: "Happy Times at the IKOB New Game Plus Edition", times, serif;
  font-size: 30px;
  line-height: 1.3em;
  padding:0;
  margin: 0;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:20px 0;
}
header img{
  width:200px;
}
header p{
  width:20%;
  margin-left: 20px;
  position: relative;
  padding-bottom: 35px;
}
header span{
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  font-family:"JetBrains Mono";
  font-size: 14px;
}
.list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.list section{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  border-top:1px solid black;
  position: relative;
}
.text{
  width: calc(100% - 240px);
  margin-left:20px;
}
.list img{
  width:220px;
  height:auto;
}
.day{
  font-family:"JetBrains Mono";
  font-size: 20px;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.day::before {
  content: "Day ";
  margin-right: 0px;
}
.url{margin:10px 0;}
.desc-fr{
  display: none;
}
section .labels{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
section .labels b{
  display: none;
  text-transform: uppercase;
  font-family:"JetBrains Mono";
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 10px;
  border:1px solid black;
  padding: 0 2px;
}
section.desktop .desktop{
  display: inline;
}
section.interaction .interaction{
  display: inline;
}
section.sound .sound{
  display: inline;
}
section.audio-access .audio-access:after{
  display: inline;
}

a{
  color: inherit;
}
@media only screen and (max-width: 900px) {
  .text, footer, header{
    width:100%;
    padding: 20px;
  }
  header p, header img{
    width:100%;
  }
  header .image{
    width:40%;
    margin-bottom: 20px;
  }
  section .labels{
    bottom: 5px;
  }
  section .text{
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 15px;
  }
}
::selection{background: #eee;}
