body{
  font-family: "Happy Times at the IKOB New Game Plus Edition", times, serif;
  font-size: 30px;
  line-height: 1.3em;
  padding:0;
  margin: 0;
}
main{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.image, .text{
  padding: 50px;
}
.image{
  width:20%;
}
.image img{
  width:100%;
}
.text{
  position: relative;
  min-height:calc(100vh - 50px);
  width: 80%;
}
.info{
  color:#cd8364;
}
ol {
  list-style: none;
  counter-reset: counter;
  display: flex;
  flex-direction: column-reverse;
}
ol li {
  counter-increment: counter;
}
ol li::before {
  content: "Day " counter(counter)"";
  margin-right: 20px;
}

.text li{
  margin-bottom: .5em;
}
.text a{color:black;}
.text a:visited{color:gray;}
.text p{margin-bottom: .2em}
.text p.small{margin-bottom: 1.7em}
.small{
  font-size: 1.2rem;
  line-height: 1.2em;
}
footer{
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right:20px;
  border-top:1px solid black;
  width: calc(80% - 50px);
  background: white;
}
footer ul{
  display: flex;
  justify-content: space-between;
}

b{
  width:9px;
  height:9px;
  border-radius: 100%;
  background: gray;
  display: inline-block;
  position: relative;
  cursor:help;
}
b:hover{
  opacity: .8;
}
.text ol b:first-of-type{
  margin-left: 20px;
}
b[title="Desktop"]{background: #427fbf;}
b[title="Interaction"]{background: #cd8364; bottom: 4px;}
b[title="Sound"]{background: #5ab435; bottom: 4px;}
b[title="Mobile friendly"]{background: #6c6c6c; bottom: 8px;}

@media only screen and (max-width: 900px) {
  .text, .image, footer{
    width:100%;
    padding: 20px;
  }
  .image img{width:50%; margin-bottom: 50px;}
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 15px;
  }
  footer{
    position: relative;
    padding: 0;
    margin-top: 50px;
  }
  footer ul{
    flex-direction: column;
  }
}
