body{
  font-size: 4.9mm;
  line-height: 1.4em;
  font-family: "Happy Times at the IKOB New Game Plus Edition";
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section{
  width: 49%;
  min-height: 100vh;
  page-break-inside:avoid;
  position: relative;
}
section:after{  /* cut helper */
  content: ".";
  position: absolute;
  bottom: 0;
  right:0;
}
section:nth-child(even):after{
  left:0;
}
section:nth-child(even){
  page-break-after: always;
}
section img{
  width: 100%;
  height: auto;
}
.text{
  padding:.5cm;
}
.text>div{
  margin-top:.5cm;
}
.url{
  /* margin-bottom: */
}
.day::before{
  content:"Day ";
}
.desc-en, .desc-fr{
  padding-left: 1.1cm;
  position: relative;
}
.desc-fr::before, .desc-en::before{
  position: absolute;
  top:0;
  left: 0;
  font-size: 4mm;
  font-family: liberation sans;
  /* font-weight: bold; */
}
.desc-en::before{
  content: "EN";
}
.desc-fr::before{
  content: "FR";
}
