body{
  font:20px/1.1em arial, sans-serif;
  background:black;
  /* overflow: hidden; */
}
#svg{
  height: 100vh;
  width:100vw;
  position: absolute;
  top:0;
  left: 0;
  z-index: 3;
  /* pointer-events: none; */
}
#svg polygon, #svg path{
  transition: all 10s linear;
}
#svg polygon.dark, #svg path.dark{
  fill: #000;
  opacity: 1;
}
.video-background {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  filter: blur(20px);
  transform:rotate(-180deg);
  animation: v;
  animation-duration: 15s;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.otbutton{
  z-index: 999;
}

#stop{
  display:none;
  position: absolute;
  font-family: monospace;
  top:10px;
  left:40px;
  font-weight: bold;
  z-index: 20;
  font-size: 15px;
  cursor: pointer;
}


@keyframes v {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
