body,html{
  height: 100%;
}
body{
  font:20px/1.1em arial, sans-serif;
  background:lightgray;
}
main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock{
  position: absolute;
  left:calc(50% - (570px / 2));
  top:calc(50% - (321px / 2));
  bottom:0;
  right:0;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.r1{
  animation-name: r1;
}
.r2{
  animation-name: r2;
}
.r3{
  animation-name: r3;
  z-index: 7
}
.r4{
  animation-name: r4;
}
@keyframes r1 {
  0% {transform: rotate(0deg);}
  5% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  30% {transform: rotate(180deg);}
  50% {transform: rotate(0deg);}
  55% {transform: rotate(0deg);}
  75% {transform: rotate(-180deg);}
  80% {transform: rotate(-180deg);}
  100% {transform: rotate(0deg);}
}
@keyframes r2 {
  0% {transform: rotate(0deg);}
  5% {transform: rotate(0deg);}
  25% {transform: rotate(-180deg);}
  30% {transform: rotate(-180deg);}
  50% {transform: rotate(0deg);}
  55% {transform: rotate(0deg);}
  75% {transform: rotate(180deg);}
  80% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
@keyframes r3 {
  0% {transform: rotate(0deg);}
  5% {transform: rotate(0deg);}
  25% {transform: rotate(-180deg);}
  30% {transform: rotate(-180deg);}
  50% {transform: rotate(0deg);}
  55% {transform: rotate(0deg);}
  75% {transform: rotate(-180deg);}
  80% {transform: rotate(-180deg);}
  100% {transform: rotate(0deg);}
}
@keyframes r4 {
  0% {transform: rotate(0deg);}
  5% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  30% {transform: rotate(180deg);}
  50% {transform: rotate(0deg);}
  55% {transform: rotate(0deg);}
  75% {transform: rotate(180deg);}
  80% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}
