html,body{height: 100%;}
body{
  background: #222;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  /* padding-top: 15vh; */
  width: 70vh;
  height: 70vh;
  margin: auto;
}
.loader .circle {
  position: absolute;
  width:  70vh;
  height: 70vh;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 10s;
}

.loader .circle:after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  position: absolute;
  width:  10vh;
  height: 10vh;
  border-radius: 100%;
  animation-iteration-count: infinite;
  animation-name: desorbit;
  animation-duration: 10s;
  box-shadow: 0 10px 20px black;
}
.otbutton{
  filter: invert(1);
}
:root{
  --interval:400ms;
}
.c1:after{background: url(../img/1.png);}
.c2:after{background: url(../img/2.png);animation-delay: calc(var(--interval)*1);}
.c3:after{background: url(../img/3.png);animation-delay: calc(var(--interval)*2);}
.c4:after{background: url(../img/4.png);animation-delay: calc(var(--interval)*3);}
.c5:after{background: url(../img/5.png);animation-delay: calc(var(--interval)*4);}

.loader .c2 {animation-delay: calc(var(--interval)*1);}
.loader .c3 {animation-delay: calc(var(--interval)*2);}
.loader .c4 {animation-delay: calc(var(--interval)*3);}
.loader .c5 {animation-delay: calc(var(--interval)*4);}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  8% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(680deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(825deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  78% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  79% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@keyframes desorbit {
  0% {
    transform: rotate(-225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  8% {
    transform: rotate(-345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(-455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(-680deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(-825deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  78% {
    transform: rotate(-945deg);
    animation-timing-function: ease-out;
  }
  79% {
    transform: rotate(-945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-945deg);
    opacity: 0;
  }
}
@media only screen and (max-width: 800px) {
  .loader{
    width:  60vw;
    height: 60vw;
  }
  .loader .circle{
    width:  60vw;
    height: 60vw;
  }
  .loader .circle:after {
    width: 10vw;
    height:10vw;
  }
}
