body{
  font:20px/1.1em arial, sans-serif;
  background:#e7f4ff;
}
.boon{
  position: absolute;
  left:0;
  right: 0;
}
.wake{
  position: relative;
}
.wake img{
  display: none;
  position: absolute;
}
.wake img.dragged{
  top:0;
  left:0;
}
.wake img.visible{
  display: block;
}
.i1{top:130px; left:250px; transform:rotate(0deg);}
.i2{top:310px; left:730px;display: none;}
.i3{top:330px; left:630px;display: none;}
.i4{top:5px; left:690px;}
.i5{top:240px; left:227px;}
.i6{top:100px; left:310px;}
.i8{top:487px; left:925px;z-index: 3;}
.i9{top:530px; left:780px;display: none;}
.i10{top:406px; left:645px; /*! width:20px; */z-index: 4;}
.i11{top:380px; left:620px;}
.i138{top:470px; left:471px;}
.i137{top:460px; left:473px;}
.i136{top:450px; left:475px;}
.i13 {top:439px; left:475px;}
.i131{top:430px; left:476px;}
.i132{top:420px; left:475px;}
.i133{top:410px; left:474px;}
.i139{top:400px; left:473px;}
.i135{top:390px; left:470px;}

.i17{top:550px; left:865px; transform:rotate(-73deg); width:230px; }
.i18{top:510px; left:430px;}
.i19{top:400px; left:980px;}
.i191{top:400px; left:980px;}
.i192{top:660px; left:900px;}
.i193{top:640px; left:925px;}
.i194{top:430px; left:990px;}
.i195{top:530px; left:1008px;z-index: 0;}
.i20{top:340px; left:260px;}
.i21{top:350px; left:240px;}
.i22{top:380px; left:280px;}
.i23{top:317px; left:775px;}
.i231{top:277px; left:710px;}
.i232{top:290px; left:720px;}
.i233{top:300px; left:734px;}
.i234{top:310px; left:753px;}
.i235{top:320px; left:800px;}
.i236{top:321px; left:825px;}
.i237{top:319px; left:849px;}
.i238{top:311px; left:870px;}
.i239{top:297px; left:883px;}

.i24{top:501px; left:375px;}
.i241{top:515px; left:372px;}
.i242{top:530px; left:371px;}
.i243{top:545px; left:373px;}
.i244{top:559px; left:378px;}

.i25{top:184px; left:336px;}
.i251{top:191px; left:362px;}
.i252{top:199px; left:389px;}
.i253{top:209px; left:416px;}
.i254{top:220px; left:442px;}

.i26{top:282px; left:273px;transform: rotate(106deg);}

.i27{ top:425px; transform-origin: 100px; left:572px;transform: rotate(0);}
.i271{top:425px; transform-origin: 100px; left:572px;transform: rotate(45deg);}
.i272{top:425px; transform-origin: 100px; left:572px;transform: rotate(810deg);}
.i273{top:425px; transform-origin: 100px; left:572px;transform: rotate(135deg);}
.i274{top:425px; transform-origin: 100px; left:572px;transform: rotate(180deg);}
.i275{top:425px; transform-origin: 100px; left:572px;transform: rotate(225deg);}
.i276{top:425px; transform-origin: 100px; left:572px;transform: rotate(270deg);}
.i277{top:425px; transform-origin: 100px; left:572px;transform: rotate(315deg);}

.otbutton{filter: invert(1);}
