@font-face {
    font-family: 'CISF Camouflage Kit';
    src: url('CISFCamouflageKit.woff2') format('woff2'),
        url('CISFCamouflageKit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

