body{
  padding: 2vw;
  background: #ccc;
  text-align: center;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
main img{
  background: white;
  padding: 2vw;
  width: 200px;
  margin-bottom:40px;
}
a{
  color:inherit;
}
