body{
  font:20px/1.1em arial, sans-serif;
  background:blue;
  overflow: hidden;
  background: url(../prescreen.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.images{
  position: absolute;
  animation-duration: 40s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: a;
}
.images img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.i1{
  z-index: 2;
  animation-duration: 80s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: b;
}
@keyframes a {
  0% {
    top: -100vh;
    height: 381vh;
    left: -84vw;
    width: 400vw;
    opacity: 0
  }
  10% {
    opacity: 1;
  }
  100% {
    top: 0vh;
    height: 100vh;
    left: 0vw;
    width: 100vw;
  }
}
@keyframes b {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
