@font-face {
    font-family: 'Happy Times at the IKOB New Game Plus Edition';
    src: url('HappyTimesattheIKOBNewGamePlusEdition-Regular.woff2') format('woff2'),
        url('HappyTimesattheIKOBNewGamePlusEdition-Regular.woff') format('woff'),
        url('HappyTimesattheIKOBNewGamePlusEdition-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happy Times at the IKOB New Game Plus Edition';
    src: url('HappyTimesattheIKOBNewGamePlusEdition-Bold.woff2') format('woff2'),
        url('HappyTimesattheIKOBNewGamePlusEdition-Bold.woff') format('woff'),
        url('HappyTimesattheIKOBNewGamePlusEdition-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Happy Times at the IKOB New Game Plus Edition';
    src: url('HappyTimesattheIKOBNewGamePlusEdition-Italic.woff2') format('woff2'),
        url('HappyTimesattheIKOBNewGamePlusEdition-Italic.woff') format('woff'),
        url('HappyTimesattheIKOBNewGamePlusEdition-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.woff2') format('woff2'),
        url('JetBrainsMono-Regular.woff') format('woff'),
        url('JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
