body{
  font:12vw/1.2em arial, sans-serif;
  background:black;
  color: white;
}
#stop, #recording, body.recording #start, body.playing #start,
body.playing .sing, body.recording .sing, .playing-line{
  display: none;
}
body.playing #stop, body.recording #recording,  body.playing .playing-line{
  display: block;
}
button{
  background: white;
  color: black;
  padding:2px 3vw;
}
body.playing .visualizer{
  animation-name: a;
  animation-duration:2.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .6s;
  transform:rotate(-30deg);
}
.visualizer{
  transition: all .1s ease-in;
  position: absolute;
  left:calc(50vw - 10vw );
  top:0;
  height: 80vh;
  width:20vh;
  transform-origin: top center;
  z-index: -1;
}
#player{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}
@keyframes a{
  0%{transform:rotate(-30deg);}
  50%{transform:rotate(30deg);}
  100%{transform:rotate(-30deg);}
}
.otbutton{
  filter: invert(1);
}
