html,body{height: 100%;}
body{
  font:20px/1.1em arial, sans-serif;
  background:red;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  position: relative;
  width: 1100px;
  height: 825px;
  background: url(../img/bg.png) no-repeat center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main img{
  /* position: absolute; */
  display: block;
  width: 100%;
  height:auto;
  top:0;
  left: 0;
}
#front{
  z-index: 20;
}
main span{
  position: absolute;
  z-index: 10;
  transition: all 1s ease;
}
.p1{
  right: 86px;
  top: 462px;
  border: 20px solid  black;
  border-radius: 270px;
  width: 240px;
  height: 240px;
  z-index: 22;
  background:  transparent;
}
.p2{
  background: blue;
  top:0;
  left: 0;
  width: 100%;
  height: 370px
}
.p3{
  width:10px;
  height: 200px;
  background: white;
  top: 330px;
  left: 350px;
  z-index: 23;
  transform: rotate(-15deg);
  border-radius: 5px;
}
.p4{
  width:3px;
  height: 220px;
  background: yellow;
  top: 330px;
  left: 370px;
  z-index: 23;
  transform: rotate(-15deg);
}
.p5{
  left:530px;
  top:270px;
  transform: rotate(-10deg);
  width:350px;
  height:70px;
  border-radius:200px;
  background: lime;
}
.p6{
  left:250px;
  top:150px;
  width: 0;
  height: 0;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-top: 220px solid pink;
  z-index: 10;
  background: transparent;
  transform: rotate3d(10, -1, 20, 30deg);
}
