@font-face {
    font-family: 'Archivo Narrow';
    src: url('ArchivoNarrow-Bold.woff2') format('woff2'),
        url('ArchivoNarrow-Bold.woff') format('woff'),
        url('ArchivoNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
