html,body{
  /* min-height: 100%; */
}
body{
  min-height: 100vh;
  font:20px/1.1em arial, sans-serif;
  background:#284839;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-box{
  position: relative;
  overflow: visible;
  width: 1040px;
  height: 890px;
}
video{
  transform: rotate(-88deg);
  width: 800px;
  height: auto;
  position: absolute;
  top: 230px;
  left: 0;
}
.input{
  position: absolute;
  /* display: none; */
}


.play .input{
  display: block;
  /* animation-name: i; */
  /* animation-delay: 1s; */
  animation-timing-function:ease;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.400, 0.510, 0.580, 0.945);
}
.otbutton{
  filter: invert(1);
}
