html{
  height: 100%;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #69686b;
}
#img{
  max-width: 1000px;
  width:70%;
  height: auto;
  cursor: crosshair;
  box-shadow: 0 0 5px black;
  background: #333;
}
canvas{display: none;}
