body{
  font:20px/1.1em arial, sans-serif;
  background:lightgray;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:    1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "b1  b2 . . . b4 "
  ". o2 b10 b10 . ."
  ".  b5 b3 b8 . . "
  ". o1 . . b6  ."
  "b7 . b9  . . .";
  height: 100vh;
}
.b1  { grid-area: b1 ; }
.b2  { grid-area: b2 ; }
.b3  { grid-area: b3 ; }
.b4  { grid-area: b4 ; }
.b5  { grid-area: b5 ; }
.b6  { grid-area: b6 ; }
.b7  { grid-area: b7 ; }
.b8  { grid-area: b8 ; }
.b9  { grid-area: b9 ; }
.b10 { grid-area: b10 ;}

video{
  object-fit: fill;
  width:100%;
  height:20vh;
  display: block;
}

body.s1{background: white;}
body.s2 .b5{display: none;}
body.s3 .b3{display: none;}
body.s4 .b10{display: none;}body.s4 .b7{grid-area: o1;}
body.s5 .b8{display: none;} body.s5 .b7{grid-area: b5;}
body.s6 .b6{display: none;} body.s6 .b7{grid-area: o2;}
body.s7 .box:not(.b4){display: none;}
body.s8 .b2{display: none;}
