body{
  font:20px/1.1em arial, sans-serif;
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: pink;
}

main{
  display: flex;
  width:700px;
  height: 360px;
  background: url(../img/model.svg) no-repeat center;
  background-size: 100%;
  margin: 20px 0;
}
.part-image{
  /* width:40px; */
  display: none;
}
.part-image.selected{
  display: block;
}
canvas{
  height: 100%;
}
.collage, .form-mess{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width:100%;
}
.collage .tail{
  order:0;
}
.collage .body{
  order:1;
}
.collage .head{
  order:2;
}
body.body #body, body.tail #tail, body.head #head {
  background: rgba(255, 255, 255, 0.5);
}
.addmore{display: none; color: rgba(0, 0, 0, .3)}
body.add .addmore{display: block;}
button{
  background: white;
  padding:5px 10px;
  letter-spacing: 1px;
  margin:0 40px;
  transition: all .5s ease;
  width:100px;
}
footer{
  position: fixed;
  bottom: 10px;
  right:10px;
  font-size: 14px;
  color: rgba(0, 0, 0, .3)
}
a{
  color: inherit;
}
#submit{
  width:0;
  margin:0;
  padding-left:0;
  padding-right:0;
  overflow: hidden;
}
#submit.visible{
  padding:5px 10px;
  width:100px;
}
#tail{
  width:160px;
}
#body{
  width:340px;
}
#head{
  width:200px;
}
