body{
  font:20px/1.1em arial, sans-serif;
  background:#ccc;
  display: flex;
  justify-content: center;
  padding: 10px;
}
main{
  max-width:500px;
  width:90%;
  text-align: center;
}
ol{
  margin-top: 10px;
}
ol li{
  border:1px solid black;
  margin-bottom: 2vh;
  padding: 30px;
  font-size: 30px;
  position: relative;
}
ol span{
  position: absolute;
  font-size: 15px;
  top:0; left:0;
  padding: 3px;
  text-transform: uppercase;
}
ol h2{
  margin-bottom:20px;
}
img{
  width: 100%;
  margin-bottom:10px;
}
.dl-box{
  margin:20px 0;
}
.dl{
  border:2px solid white;
  padding: 3px 15px;
  border-radius: 20px;
  text-decoration: none;
}
