
main{
  display: flex;
  flex-direction: column;
}

section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -1px;
}
.l1 div{
  height: 25vh;
  border-left:1px solid black;
  animation-name: a1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background: yellow;
}
.l2{
  font-family: Liberation Sans;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  line-height: 9px;
}
.l2 span:nth-child(odd){
  animation-name: a21;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.l2 span:nth-child(even){
  animation-name: a22;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/* .l3 = SVG animation */

.l4 img{
  height: 25vh;
  animation-name: a4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes a1 {
  0% {width: 0px;}
  25% {width: 0px;}
  80% {width: 100px;}
  100% {width: 0px;}
}

@keyframes a21 {
  0%   {padding-left:0px;}
  25%  {padding-left:0px;}
  80%  {padding-left:20px;}
  100% {padding-left:0px;}
}

@keyframes a22 {
  0%   {padding-right:0px;}
  25%  {padding-right:0px;}
  80%  {padding-right:20px;}
  100% {padding-right:0px;}
}

@keyframes a4 {
  0%   {transform: rotate(0DEG); width:1px;}
  25%  {transform: rotate(0DEG); width:1px;}
  80%  {transform: rotate(-5DEG); width:100px;}
  100% {transform: rotate(0DEG); width:1px;}
}
