body{
  font:20px/1.1em arial, sans-serif;
  background:lightgray;
  overflow: hidden;
  cursor:grab;
}
body:active{
  background:#ddd;
}
#video{
  height:100vh;
  width:auto;
}
#svgs{
  top: 12px;
  left: 12px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}
#svgs svg{
  position: absolute;
  width:100%;
}
#svgs svg:first-child{
  display: none;
}
.otbutton{
  z-index: 8;
}

#stop{
  display:none;
  position: absolute;
  font-family: monospace;
  top:10px;
  left:40px;
  font-weight: bold;
  z-index: 20;
  font-size: 15px;
  cursor: pointer;
}
#stop:hover{
  background: #eee
}
