
body{
  font:20px/1.1em arial, sans-serif;
  background:white;
  transition: all .5s linear;
  padding:2vw;
}
body.pause{
  background:white;
}
main{
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.canvasbox{
  width:100%;
  display: flex;
  justify-content: center;
}
canvas {
  overflow: visible;
  width:70vh;
  height:70vh;
}
#svgbox{
  width:100%;
  display: flex;
  height:20vh;
}
#svgbox svg{
  height:100%;
  width:auto;
}
#svgbox svg path{
  stroke-width:5;
}
