body{
  background: url(../img/forest.jpg) no-repeat;
  background-size: cover;
}
html, body, .splitpane {
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}
img{
  display: block;
  width:100%;
  height:100%;
}
.splitpane *:first-child, .splitpane *:last-child {
  display: flex; align-items: center;
}
button{
  padding: 2px 5px;
}
.handle {
  background: white;
  /* transition: all 1s linear; */
}
body.grid .handle{
  animation-name: a;
  animation-duration: 1s;
}
.handle:hover { background-color: purple; }
.otbutton{
  z-index: 20;
}
#stop{
  position: absolute;
  font-family: monospace;
  top:10px;
  left:40px;
  font-weight: bold;
  z-index: 20;
  font-size: 15px;
  cursor: pointer;
}
#stop:hover{
  background: #eee
}
::selection{
  background: transparent;
}
@keyframes a {
  from{
    background: purple;
  }
  to{
    background: white;
  }
}
